/*******************************************************/

/* BETTING TABLE */

.roulette {
    margin: 15px;
    padding: 10px;
    background: #F0F0EE;
    position: relative;
    width: 775px;
    /*transform: rotate(90deg);
    margin:300px 0 0 -230px;*/
    
  }
  
  .roulette table {
    float: left;
  }
  
  .roulette table,
  tr {
    border-collapse: collapse;
    /*border-spacing: 0;*/
    
  }
  
  .roulette td {
    border-spacing: 5;
    border-collapse: separate;
    border: 5px solid #29313D;
    width: 60px;
    height: 56px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 18px;
    color: #F0F0EE;
    white-space: nowrap;
  }
  
  /* elements */
  .roulette .sector {
    background: #F0F0EE;
    color: #29313D;
  }
  
  .roulette .sector .vt {
    font-size: 15px;
  }
  
  .roulette .num {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
  }
  
  .roulette .num span {
    display: block;
    transform: rotate(270deg);
  }
  
  .roulette .zero {
    width: 70px;
    font-size: 56px;
  }
  
  .roulette .empty {
    border: none;
  }
  
  /* colors */
  .roulette .green {
    background: #F0F0EE;
    color: #29313D;
  }
  
  .roulette .red {
    background: #A91607;
    color: #F0F0EE;
  }
  
  .roulette .black {
    background: #434f64;
    color: #F0F0EE;
  }
  
  /* cells hovers */
  .roulette .sector.hover,
  .roulette .num.hover {
    font-size: 26px;
    -moz-box-shadow: inset 0 0 5px #FFF, inset 0 0 5px #FFF;
    -webkit-box-shadow: inset 0 0 5px #FFF, inset 0 0 5px #FFF;
    box-shadow: inset 0 0 5px #FFF, inset 0 0 5px #FFF;
  }
  
  .roulette .sector.hover .vt {
    font-size: 17px;
  }
  
  .roulette .sector.hover {
    font-size: 22px;
    background: #29313D !important;
    color: #F0F0EE !important;
  }
  
  .roulette .green.hover {
    font-size: 68px;
    background: #29313D !important;
    color: #F0F0EE !important;
  }
  
  .roulette .red.hover {
    background: #C00 !important;
    color: #F0F0EE!important;
  }
  
  .roulette .black.hover {
    background: #516480 !important;
    color: #F0F0EE !important;
  }
  
  /* orientation */
  .roulette .vt {
    display: block;
    transform: rotate(270deg);
    white-space: nowrap;
  }
  
  /* controlls */
  .roulette .controlls {
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .roulette .controlls .btn {
    /*opacity: 0.5;*/
    position: absolute;
    cursor: pointer;
    z-index: 1;
  }
  
  /* zero */
  .roulette .controlls .btn-zero {
    width: 75px;
    height: 152px;
    z-index: 0;
  }
  
  /* positions */
  .roulette .controlls .h {
    width: 37px;
    height: 15px;
  }
  
  .roulette .controlls .v {
    width: 17px;
    height: 35px;
  }
  
  .roulette .controlls .c {
    width: 17px;
    height: 15px;
  }
  
  .roulette .controlls .m {
    width: 54px;
    height: 50px;
    margin-top: -7px;
    margin-left: -10px;
    z-index: 0;
  }
  
  .roulette .controlls .ms4 {
    width: 216px;
    height: 50px;
    margin-top: -7px;
    margin-left: -10px;
    z-index: 0;
  }
  
  .roulette .controlls .ms2 {
    width: 108px;
    height: 50px;
    margin-top: -7px;
    margin-left: -10px;
    z-index: 0;
  }
  
  /* rows */
  .roulette .controlls .row1 .rh {
    top: -7px;
  }
  
  .roulette .controlls .row1 .rm {
    top: 10px;
  }
  
  .roulette .controlls .row2 .rh {
    top: 50px;
  }
  
  .roulette .controlls .row2 .rm {
    top: 60px;
  }
  
  .roulette .controlls .row3 .rh {
    top: 100px;
  }
  
  .roulette .controlls .row3 .rm {
    top: 120px;
  }
  
  .roulette .controlls .row3 .rb {
    top: 160px;
  }
  
  .roulette .controlls .row4 .rm {
    top: 165px;
  }
  
  .roulette .controlls .row5 .rm {
    top: 245px;
  }
  
  /* cols */
  .roulette .controlls .col0 .cm {
    left: 11px;
  }

  .roulette .controlls .col1 .cv {
    left: 52px;
  }
  
  .roulette .controlls .col1 .cm {
    left: 70px;
  }
  
  .roulette .controlls .col2 .cv {
    left: 100px;
  }
  
  .roulette .controlls .col2 .cm {
    left: 114px;
  }
  
  .roulette .controlls .col3 .cv {
    left: 155px;
  }
  
  .roulette .controlls .col3 .cm {
    left: 170px;
  }
  
  .roulette .controlls .col4 .cv {
    left: 198px;
  }
  
  .roulette .controlls .col4 .cm {
    left: 215px;
  }
  
  .roulette .controlls .col5 .cv {
    left: 250px;
  }
  
  .roulette .controlls .col5 .cm {
    left: 275px;
  }
  
  .roulette .controlls .col6 .cv {
    left: 310px;
  }
  
  .roulette .controlls .col6 .cm {
    left: 325px;
  }
  
  .roulette .controlls .col7 .cv {
    left: 370px;
  }
  
  .roulette .controlls .col7 .cm {
    left: 383px;
  }
  
  .roulette .controlls .col8 .cv {
    left: 411px;
  }
  
  .roulette .controlls .col8 .cm {
    left: 422px;
  }
  
  .roulette .controlls .col9 .cv {
    left: 465px;
  }
  
  .roulette .controlls .col9 .cm {
    left: 475px;
  }
  
  .roulette .controlls .col10 .cv {
    left: 520px;
  }
  
  .roulette .controlls .col10 .cm {
    left: 552px;
  }
  
  .roulette .controlls .col11 .cv {
    left: 573px;
  }
  
  .roulette .controlls .col11 .cm {
    left: 593px;
  }
  
  .roulette .controlls .col12 .cv {
    left: 628px;
  }
  
  .roulette .controlls .col12 .cm {
    left: 640px;
  }
  
  .roulette .controlls .col13 .cm {
    left: 695px;
  }
  
  /* others */
  .hidden {
    display: none;
  }