
.spin-button {
    margin-top: 22px;
    margin-left: 35px;
    background-color: #bd3526;
    border: 0;
    color: #F0F0EE;
    width: 200px;
    height: 35px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    outline: 0;
    transition: 0.1s linear;
    cursor: pointer;
    letter-spacing: 0.7px;
    padding-top: 3px;
    margin-left: 115px;
    transition-duration: 0.2s;
  }
  
  .spin-button:hover {
    background-color: #bd4a3d;
  }

  .spin-button:active {
    padding-top: 5px;
    background-color: rgb(41, 41, 41);
  }
  .wheel{
     width: 320px;
     height: 320px;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
    }